<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MATBEL</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/styles/login.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <!--contenedor-->
    <div class="container p-5 mt-5">
        <div class="row justify-content-center" ><!--linea forgot password-->
            <div class="col-xl-10 col-lg-12 col-md-9" >

                <div class="card shadow-lg p-4"><!--comienzo de tarjeta-->
                    <div class="card-body " >
                        <div class="row">
                            <!------------------------------------columna 2--------------------------------------->
                            <div class="col-lg-12 " id="columna-text" >
                                <div class="p-5">
                                    <h1 class="h4 text-gray-900 text-center mb-3">Desea recuperar su contraseña?</h1>
                                    <p class="medium gray-700 text-danger mb-2">Verifique su correo para restablecer contraseña</p>
                                </div>

                                <!--division-->
                                <div>
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        aria-describedby="emailHelp" placeholder="ingrese correo...">
                                </div>
                                <div class="text-center">
                                    <a href="" class="btn btn-success mt-3"> Recuperar contraseña </a>
                                </div>
                                <div class="text-center mt-2">
                                    <a href="/index.html" class="small text-center text-primary">Volver pagina de incio</a>
                                </div>

                            </div><!--fin de columna numero 2-->



                        </div><!--fin de la linea que concatena demas columna producto del contenido-->
                    </div>

                </div><!--fin de la tarjeta-->
            </div><!-- fin  de la columa principal-->
        </div>

    </div><!--fin contenedor-->


</body>

</html>